@CHARSET "ISO-8859-1";

#customerName{
	background-color : black;
	color : white;
	font-weight: bold;
}

.card{
	border : 1px solid black;
}

#customerOrder{
	color : black;

	}
	
.userIcon{
	max-height: 110px;
}
	
#cardClose{
	color:white;
}

#userCard{
	cursor: pointer;
}

div.clickable { /* Containing div must have a position value */
    position:relative;
}

div.clickable a {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-decoration:none; /* Makes sure the link   doesn't get underlined */
    z-index:10; /* raises anchor tag above everything else in div */
    background-color:white; /*workaround to make clickable in IE */
    opacity: 0; /*workaround to make clickable in IE */
    filter: alpha(opacity=1); /*workaround to make clickable in IE */
}